/* Root variables */
:root {
  --c-primary: #e5b331;
  --c-secondary: #20a1ec;
  --c-dark: #032340;
  --c-white: #fff;
  --c-light: #eee;
  --c-light-dark: #f3f7fb;
  --c-gray: #6f6f6f;
  --c-light-gray: #b7b7b7;
  --c-black: #000;
  --fs-medium: 15px;
  --fs-small: 14px;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-secondary);
}
/* /Scroll bar */

/* Placeholder */
::placeholder {
  color: var(--c-gray) !important;
}

/* Global tags */
body {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-medium);
}

/* Custom */
.cover {
  object-fit: cover;
}

.navbar-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hero-bg {
  background: linear-gradient(90deg, #e8d8ae 0%, #aedbf3 100%);
}

.p-70 {
  padding: 70px;
}

.border-right {
  border-right: 1px solid #032340;
}

.hero-img-border-radius {
  border-top-right-radius: var(--bs-border-radius-lg);
  border-bottom-right-radius: var(--bs-border-radius-lg);
}

.hero-section {
  margin: 10px auto;
}

.text-wrap-balance {
  text-wrap: balance;
}

.text-gray {
  color: var(--c-gray);
}

.fs-small {
  font-size: var(--fs-small);
}

.services-border-right-bottom {
  border-right: 1px solid var(--c-light-gray);
  border-bottom: 1px solid var(--c-light-gray);
}

.services-border-bottom {
  border-bottom: 1px solid var(--c-light-gray);
}

.services-border-right {
  border-right: 1px solid var(--c-light-gray);
}

.services-illustration {
  margin-top: -45px;
}

.bg-light-dark {
  background-color: var(--c-light-dark);
}

.animation-duration-05 {
  animation-duration: 0.5s;
}

.faq-card {
  cursor: pointer;
}

.faq-card:hover .faq-icon {
  fill: var(--c-secondary);
}

.faq-card:hover .faq-question {
  color: var(--c-secondary);
}

.faq-question {
  margin-top: -5px;
}

/* Bootstrap */
.text-primary {
  color: var(--c-primary) !important;
}

.text-secondary {
  color: var(--c-secondary) !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--c-white) !important;
  background-color: var(--c-primary) !important;
}

/* Responsive */
@media screen and (max-width: 1399.9px) {
  .hero-img-border-radius {
    height: 100%;
  }

  .faq-illustration {
    height: 400px;
  }
}

@media screen and (max-width: 991.9px) {
  .bg-navbar {
    background-color: var(--c-white);
  }

  .hero-img-border-radius {
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--bs-border-radius-lg);
    border-bottom-right-radius: var(--bs-border-radius-lg);
    height: 600px;
  }

  .hero-section {
    margin: -10px auto 10px auto;
  }

  .services-illustration {
    margin-top: 0;
  }

  .why-us-illustration {
    margin-bottom: 70px;
  }

  .faq-illustration {
    height: 100%;
  }
}

@media screen and (max-width: 767.9px) {
  .hero-img-border-radius {
    height: 500px;
  }
}

@media screen and (max-width: 575.9px) {
  .p-70 {
    padding: 60px;
  }

  .hero-img-border-radius {
    height: 400px;
  }
}

@media screen and (max-width: 424.9px) {
  .p-70 {
    padding: 50px;
  }
}

@media screen and (max-width: 387.9px) {
  .p-70 {
    padding: 40px;
  }
}

@media screen and (max-width: 367.9px) {
  .p-70 {
    padding: 30px;
  }
}

@media screen and (max-width: 347.9px) {
  .p-70 {
    padding: 20px;
  }

  .border-right {
    border-right: none;
  }

  .play-store-img {
    width: 123px;
    height: 30px;
  }

  .app-store-img {
    width: 123px;
    height: 30px;
  }
}
